<div class="flex justify-center">
  <figure>
    <img ngSrc="./assets/angular.png" priority alt="angular-icon" height="300" width="283" class="w-36 h-36 p-4 mx-2 my-2">
  </figure>
  <figure>
    <img ngSrc="./assets/web3js.png" priority alt="web3js-icon" height="281" width="300" class="w-36 h-36 p-4 mx-2 my-2">
  </figure>
  <figure>
    <img ngSrc="./assets/metamask.png" priority alt="metamask-icon" height="256" width="256" class="w-36 h-36 p-4 mx-2 my-2">
  </figure>
</div>

<app-web3></app-web3>
